.borderGradient(@pos){
  background-size:100% 1px, 100% 1px, auto;
  background-position:50% @pos, 50% @pos, 50% 0;
  background-repeat:no-repeat, no-repeat, no-repeat;
  background-image:-webkit-linear-gradient(0deg, rgba(0,0,0,0), @borderColor 50%, rgba(0,0,0,0));
}